<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>TradingView provider</title>
    <link rel="stylesheet" href="~/style.css" />
</head>
<body>
<h1>TradingView provider</h1>
    
<p><a href="gui">TradingView GUI</a></p>
<p><a href="swagger">Swagger</a></p>

</body>
</html>